.wrapper {
  position: relative;
  /* height: 1024px; */
  padding-bottom: 135px;
  background-color: #000000;
}
.top-background {
  height: 350px;
  background-color: #3d753e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deposit-icon {
  margin: 45px 0 22px 0;
}
.header-name {
  height: 41px;
  font-weight: bold;
  font-size: 35px;
  color: white;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.form-login {
  padding: 35px;
  margin-top: 0px;
  width: 670px;
  background: #1c1c1d;
  border-radius: 30px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: -110px;
}
.login-text > p {
  margin-bottom: 54px;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}
div > input {
  padding: 0 20px;
  color: white;
  border: 0;
  background: #3a3a3b;
  border-radius: 5px;
  margin-bottom: 20px;
}

div > p {
  margin-top: 0;
}

::placeholder {
  margin-left: 20px;
  color: #979797;
}
.btn-login {
  margin-bottom: 30px;
  margin-top: 20px;
  width: 390px;
  border: 0;
  padding: 0;
  height: 50px;
  background: #3d753e;
  border-radius: 10px;
}

.btn-login:hover {
  cursor: pointer;
}

.btn-text {
  font-size: 16px;
  color: #ffffff;
}
.footer {
  color: #ffffff;
}
.register {
  text-decoration: underline;
  color: #3d753e;
  margin-left: 10px;
}
.register:hover {
  cursor: pointer;
}

.eyeLogin {
  position: absolute;
  right: 10px;
  top: 20px;
}

.eyeLogin:hover {
  cursor: pointer;
}

.eyeslash {
  position: absolute;
  left: 59.86%;
  top: 65.5%;
}
.eyeslash:hover {
  cursor: pointer;
}
.errorsMessage {
  color: red;
}

.password-login {
  position: relative;
}

.errorsMessage {
  width: 390px;
}
.responseMessage {
  width: 390px;
  text-align: center;
  margin-bottom: 10px;
  color: red;
  margin: 0;
}

.email {
  width: 350px;
  height: 50px;
}

.password {
  width: 350px;
  height: 50px;
}
