@font-face {
    font-family: Roboto;
    font-style: normal;
  }
  
  .wrapper {
    position: relative;
    height: 1024px;
    background-color: #000000;
  }
  .top-background {
    height: 350px;
    background-color: #3d753e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .deposit-icon {
    margin: 45px 0 22px 0;
  }
  .header-name {
    width: 203px;
    height: 41px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 35px;
    color: white;
    display: flex;
    align-items: flex-end;
    text-align: center;
  }
  .form-login {
    width: 670px;
    height: 451px;
    background: #1c1c1d;
    border-radius: 30px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: -110px;
  }
  .login-text > p {
    margin-top: 40px;
    margin-bottom: 54px;
    font-style: normal;
    color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
  div > input {
    padding: 0 20px;
    color: white;
    border: 0;
    width: 350px;
    height: 50px;
    background: #3a3a3b;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .password {
    margin-bottom: 0;
  }
  
  ::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 20px;
    color: #979797;
  }
  .btn-login {
    margin-bottom: 30px;
    margin-top: 40px;
    border: 0;
    padding: 0;
    width: 350px;
    height: 50px;
    background: #3d753e;
    border-radius: 10px;
  }
  .btn-text {
    font-family: Roboto;
    font-size: 16px;
    color: #ffffff;
  }
  .footer {
    color: #ffffff;
    font-family: Roboto;
  }
  .register {
    text-decoration: underline;
    color: #3d753e;
    margin-left: 10px;
  }
  .register:hover {
    cursor: pointer;
  }
  