/*  */

.wrapper {
  padding-bottom: 135px;
  position: relative;
  background-color: #000000;
}
.top-background {
  height: 350px;
  background-color: #3d753e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deposit-icon {
  margin: 45px 0 22px 0;
}
.header-name {
  height: 41px;
  font-weight: bold;
  font-size: 35px;
  color: white;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.form-register {
  padding: 40px;
  width: 670px;
  background: #1c1c1d;
  border-radius: 30px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: -110px;
}
.register-text > p {
  margin-bottom: 62px;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}

::placeholder {
  margin-left: 20px;
  color: #979797;
}
.btn-register {
  margin-bottom: 26px;
  margin-top: 20px;
  border: 0;
  padding: 0;
  width: 390px;
  height: 50px;
  background: #3d753e;
  border-radius: 10px;
}
.btn-register:hover {
  cursor: pointer;
}
.btn-text {
  font-size: 16px;
  color: #ffffff;
}
.footer {
  color: #ffffff;
}

.footer > small {
  font-size: 16px;
  line-height: 19px;
}
.register {
  text-decoration: underline;
  color: #3d753e;
  margin-left: 10px;
}
.register:hover {
  cursor: pointer;
}

.eyeRegister {
  position: absolute;
  top: 15px;
  right: 10px;
}

.eyeRegister:hover {
  cursor: pointer;
}

.eyeslashRegister {
  position: absolute;
  top: 14px;
  right: 10px;
}
.eyeslashRegister:hover {
  cursor: pointer;
}

.errorsMessage {
  width: 390px;
  color: red;
  margin: 0 0 10px 0;
}

.password-register {
  position: relative;
}
.passwordconfirm-register {
  position: relative;
}
.responseMessage {
  width: 390px;
  text-align: center;
  margin-bottom: 10px;
  color: red;
  margin: 0;
}

.firstname {
  width: 350px;
  height: 50px;
}

.lastname {
  width: 350px;
  height: 50px;
}

.email {
  width: 350px;
  height: 50px;
}

.password {
  width: 350px;
  height: 50px;
}

.confirm_password {
  width: 350px;
  height: 50px;
}
