.homepage {
  min-height: 100vh;
  /* max-height: 100%; */
  background: #000000;
  /* height: 1024px; */
}
.header-bar {
  padding: 0 72px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  /* width: 1440px; */
  height: 64px;
  align-items: center;
  /* position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1; */
}
.user {
  display: flex;
}
.user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.user-details {
  width: 90px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  margin: 0 0 5px 0;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.user-balance {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.user-transactions-behavior {
  width: 777px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  display: flex;
}

.user-transactions-behavior > button:hover {
  cursor: pointer;
}

.view-today {
  border: 0;
  padding: 0;
  align-items: center;
  background-color: white;
  margin-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #3d753e;
}
.view-transactions-by-category {
  border: 0;
  padding: 0;
  margin-right: 20px;
  background-color: white;
}
.view-transactions-by-transaction {
  border: 0;
  padding: 0;
  margin-right: 20px;
  background-color: white;
}

.search-transactions {
  border: 0;
  padding: 0;
  margin-right: 25px;
  background-color: white;
}

/* .search-box {
  position: absolute;
  top: 45%; */
/* left: 79%; */
/* transform: translate(-50%, -50%);
  background: #2f3640;
  height: 32px;
  border-radius: 40px; */
/* padding: 10px; */
/* } */

/* .search-box:hover > .search-txt {
  width: 239px;
  padding: 0 6px; */
/* margin-right: 200px; */
/* } */

/* .search-box:hover > .search-btn {
  background: white;
  color: black;
} */

/* .search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
} */

/* .searcg-btn > i {
  font-size: 30px;
} */

/* .search-txt {
  width: 240px;
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
} */

.add-transaction {
  background: #3d753e;
  border-radius: 5px;
  height: 32px;
}
.add-transaction-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #ffffff;
}
#transactions {
  width: 55%;
  background: #1c1c1d;
  box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 50px;
}
.transactions:focus {
  outline: none;
}
.time-transactions {
  width: 742px;
  margin: 0 auto;
  padding-top: 20px;
  align-items: center;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-around;
}
.line-1 {
  margin: 0;
  height: 0px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  transform: rotate(-0.06deg);
}
.inflow-and-outflow {
  padding: 25px 50px 50px 50px;
}
.inflow {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.inflow-text {
  font-size: 18px;
  line-height: 21px;
  color: #979797;
}
.inflow-number {
  /* width: 99px; */
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #039be5;
}
.outflow {
  display: flex;
  justify-content: space-between;
}
.outflow-text {
  font-size: 18px;
  line-height: 21px;
  color: #979797;
}
.outflow-number {
  /* width: 110px; */
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #e55a5a;
}
.balance {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.line-2 {
  margin: 20px 0;
  float: right;
  width: 200px;
  border: 1px solid #c4c4c4;
  transform: rotate(-0.06deg);
}
.balance-after-flow {
  /* width: 100px; */
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #979797;
}
.rectangle {
  background: rgba(147, 147, 147, 0.2);
  margin: 0;
  border: 0;
  height: 30px;
}
.transactions-by-transactions {
  padding: 25px 50px;
}
.transactions-by-category {
  padding: 25px 50px;
}
.transactions-by-date {
  padding: 25px 50px;
}
.category-transactions {
  /* width: 623px; */
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-transactions {
  /* width: 623px; */
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-desc {
  display: flex;
  align-items: center;
}
.caterogy-transactions-biil {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}
.transactions-div {
  display: flex;
  flex-direction: column;
  height: 35px;
}
.name-transactions {
  width: 104px;
  font-weight: 500;
  color: #ffffff;
}
.count-transactions {
  width: 80px;
  height: 14px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  color: #979797;
}
.transactions-bill-number {
  /* width: 99px; */
  font-weight: 500;
  font-size: 18px;
  color: #979797;
}
.line-3 {
  margin-bottom: 30px;
  padding: 0;
  border: 1px solid rgba(196, 196, 196, 0.5);
  transform: rotate(-0.06deg);
}

.transactions-random {
  display: flex;
  align-items: center;
  /* width: 623px; */
  height: 90px;
  justify-content: space-between;
}

.transactions-random:hover {
  background: rgba(61, 117, 62, 0.2);
  cursor: pointer;
}

.day-transactions-bill {
  margin-right: 25px;
  width: 39px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
}
.day-transactions {
  font-weight: 900;
  font-size: 12px;
  color: #979797;
}
.desc-transactions {
  margin-bottom: 20px;
  color: #979797;
}
.transactions-bill-number-day-out {
  /* width: 99px; */
  font-weight: 500;
  font-size: 18px;
  color: #e55a5a;
}
.transactions-bill-number-day-in {
  font-weight: 500;
  font-size: 18px;
  color: #039be5;
}
.transactions-bill-number-day-total {
  font-weight: 500;
  font-size: 18px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  background: #c4c4c4;
  border-radius: 5px;
  width: 111px;
  visibility: hidden;
  padding: 5px 0;
  position: absolute;
  top: 140%;
  left: 69%;
  margin-left: -60px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.tooltip:hover .tooltiptext {
  outline: none;
  visibility: visible;
}

.tooltip.hover .tooltiptext:focus {
  outline: none;
  visibility: visible;
}

.view-today:focus {
  outline: none;
}
.view-transactions-by-category:hover {
  cursor: pointer;
}
.view-transactions-by-category:focus {
  outline: none;
}
.view-transactions-by-transaction:hover {
  cursor: pointer;
}
.view-transactions-by-transaction:focus {
  outline: none;
}

.search-transactions:focus {
  outline: none;
}
.notransaction-display {
  /* position: relative; */
  /* padding: 208px 350px; */
  padding: 150px 150px;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.notransaction {
  /* position: absolute; */
  /* width: 200px; */
  width: 30%;
}
.notransaction-text {
  text-align: center;
  margin-top: 20px;
  width: 200px;
  font-weight: bold;
  color: #939393;
}

#transaction-detail {
  height: 350px;
  background: #1c1c1d;
  box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#hidden-transaction-detail {
  /* margin-left: 50px !important; */
  width: 44% !important;
  margin-top: 50px;
  margin-right: 72px;
  margin-left: 50px;
  /* display: block; */
}

.changed-style {
  display: flex;
}

.btn-delete {
  margin-right: 30px;
  font-size: 20px;
  color: #e93131;
  background: #1c1c1d;
  padding: 0;
  border: 0;
}

.btn-delete:hover {
  cursor: pointer;
}

.btn-delete:focus {
  outline: none;
}

.btn-edit {
  /* width: 42px; */
  font-size: 20px;
  color: #56c858;
  background: #1c1c1d;
  padding: 0;
  border: 0;
}
.btn-edit:hover {
  cursor: pointer;
}
.btn-edit:focus {
  outline: none;
}

.text-detail {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.top-wrap-detail {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 30px 30px 15px 30px;
}

.img-detail {
  margin-right: 30px;
  /* width: 22px; */
  height: 22px;
}

.img-detail:hover {
  cursor: pointer;
}

.category-in-detail {
  margin-bottom: 10px;

  width: 142px;
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
}
.transactions-random-detail {
  align-items: flex-start;
  display: flex;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 30px;
  flex-direction: row;
}

.line-10 {
  border: 1px solid rgba(196, 196, 196, 0.5);
  width: 200px;
  margin: 20px 0 20px 0;
}

.description-and-amount {
  display: flex;
  flex-direction: column;
}

.icon-transaction-detail {
  width: 56px;
  height: 56px;
}
.icon-transactions-detail-div {
  margin-right: 30px;
}
.day-transactions-detail {
  font-weight: 500;
  font-size: 18px;
  color: #979797;
}

.category-transactions-biil {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}
.date-transactions-desc {
  display: flex;
  align-items: center;
}
.button-change-view:hover {
  cursor: pointer;
}
